.favorites {
  padding: 48px 62px;

  .cats {
    display: grid;
    grid-template-columns: repeat(5, auto);
    gap: 48px;
  }
}

@media screen and (max-width: 1440px) {
  .favorites {
    .cats {
      grid-template-columns: repeat(4, auto);
    }
  }
}

@media screen and (max-width: 1160px) {
  .favorites {
    .cats {
      grid-template-columns: repeat(3, auto);
    }
  }
}


@media screen and (max-width: 900px) {
  .favorites {
    .cats {
      grid-template-columns: repeat(2, auto);
    }
  }
}

@media screen and (max-width: 630px) {
  .favorites {
    padding: 24px 5px;
    .cats {
      grid-template-columns: repeat(1, auto);
      justify-content: center;
    }
  }
}

