.main {
  padding: 48px 62px;

  .cats {
    display: grid;
    grid-template-columns: repeat(5, auto);
    gap: 48px;
  }

  .pending {
    padding-top: 48px;
    display: flex;
    justify-content: center;
  }
}
