.main {
  padding: 48px 62px 40%;

  .cats {
    display: grid;
    grid-template-columns: repeat(5, auto);
    gap: 48px;
  }

  .pending {
    padding-top: 48px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 1440px) {
  .main {
    .cats {
      grid-template-columns: repeat(4, auto);
    }
  }
}

@media screen and (max-width: 1160px) {
  .main {
    .cats {
      grid-template-columns: repeat(3, auto);
    }
  }
}


@media screen and (max-width: 900px) {
  .main {
    .cats {
      grid-template-columns: repeat(2, auto);
    }
  }
}

@media screen and (max-width: 630px) {
  .main {
    padding: 48px 5px 200px;
    .cats {
      grid-template-columns: repeat(1, auto);
      justify-content: center;
    }
  }
}

