.main {
  padding: 48px 62px 144px;

  .cats {
    display: grid;
    grid-template-columns: repeat(5, auto);
    gap: 48px;
  }

  .pending {
    padding-top: 48px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
